<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  <br>
  This is the home page for the
  <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
  </br>
  <br>
  <a href="http://j1230-kuimac.c9users.io:8080/static_pages/about">about</a>
  </br>
  <br>
  <a href="http://j1230-kuimac.c9users.io:8080/static_pages/contact">contact</a>
  </br>
  <br>
  <a href="http://j1230-kuimac.c9users.io:8080/static_pages/help">help</a>
  </br>
</p>